@charset "utf-8";
/* CSS Document */

/* チェックボックスを隠す */
#menu-btn-check {
    display: none;
}

/* ハンバーガーアイコンの見た目（三本線） */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before { bottom: 8px; }
.menu-btn span:after { top: 8px; }

/* メニューの内容を最初は隠しておく（右側に飛ばしておく） */
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* 画面の外へ */
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s; /* アニメーション速度 */
}

/* チェックが入ったら（クリックされたら）メニューを画面内に戻す */
#menu-btn-check:checked ~ .menu-content {
    left: 0;
}